@page
@model SimpleWebApp.Pages.ViewFormModel
@{
    <section>
        <table class="table">
            <thead>
                <tr>
                    
                    <th>FirstName</th>
                    <th>LastName</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var person in Model.Persons)
                {
                    <tr>
                        <td> @person.FirstName  </td>
                        <td>@person.LastName</td>
                        
                    </tr>
                }
            </tbody>
        </table>
    </section>
}
